<html>
    <head>
        <title>Rucha's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Rucha's Blog</a></h1>
        </div>

        <div>
            <p>published: 18.07.2017, 2:58</p>
            <h2><a href="">My first post</a></h2>
            <p>Life is a strange place. We are all humans in life. We should dance!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Feel the magic in the air! Allez allez allez! Levez les mains dans l'air! Allez allez allez!.</p>
        </div>
    </body>
</html>
